<html>
    <head>
      <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="main.css"/>
    </head>
    <body>
        <div>
        <div class="titleWrapper">
         <div class="titleGrid">
          <img class="logo" src="https://toppng.com/uploads/preview/circle-11552760405rj0vtcz24q.png">
          <h1 class="title">Voluntier</h1>
          <form class="searchBar">
            <input class="searchBar" type="text" placeholder="Search for Opportunities...">
          </form>  
          <div class="menu-icon" id="menu-icon" onclick="toggleNavSide()">
          <div class="line"></div>
        </div>
      </div>
     
      

</div>
	
    <div id="navSide" class="navSide">
      <a href="#">Home</a>
      <a href="#">Join</a>
      <a href="#">Host</a>
      <a href="#">Opportunities</a>
      <a href="#">Signup</a>
    </div>
   </div>
      <div id="subtitle" class="subtitle">
        <h3>Easily create sign ups for Volunteers. Powerful and clear orginization. Find the best people for the job.</h3>
        </div>
     <main> 
        <div class="contentWrapper">
            
              <img src="https://images.pexels.com/photos/5957075/pexels-photo-5957075.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260">
              <div>
                <h3> What is Voluntier? </h3>
              <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
             </p>
              </div>
        </div>
     </main>
     <script src="nav.js"></script>
    </body>
</html>